html, body {
    background-color: #000;
    color: #fff;
}

.container {
    width: 830px;
    max-width: 830px;
}

.credits {
    text-align: center;
    color: grey;
    font-size: 0.8rem;
}

canvas {
    background-color: #000;
    margin: 10px auto;
    display: block;
    outline: none;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */

    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.seed-text {
    text-align: right;
    line-height: 1.2;
}

#current-seed {
    font-weight: bold;
}

#seed-row {
    padding-bottom: 10px;
}

.collapse, .collapsing {
    color: #212529;
}

.info-tooltip {
    font-size: 0.9rem;
    color: #888;
}